main {
  min-height: 85vh;
}

h1 {
  font-size: 2rem;
  padding: 1rem 0;
  text-align: center;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  text-align: center;
}

h3 {
  padding: 1rem 0;
}

.sortby {
  text-align: center;
  color: RoyalBlue;
}

th,
td {
  text-align: center;
  vertical-align: middle;
}

hr {
  border: 10px solid SeaGreen;
  border-radius: 5px;
}
.paid {
  text-align: center;
  font-size: large;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
}
